<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382364726228-j04v7om4soqt4m0aegf3irimimpl2g8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382364726228-j04v7om4soqt4m0aegf3irimimpl2g8o</string>
	<key>API_KEY</key>
	<string>AIzaSyC7Zh45Yu4-UTb36uueWWY5e5pITI2Mzho</string>
	<key>GCM_SENDER_ID</key>
	<string>382364726228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxi.limosoft</string>
	<key>PROJECT_ID</key>
	<string>limosoft</string>
	<key>STORAGE_BUCKET</key>
	<string>limosoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382364726228:ios:41c5a2243c132e26e79c41</string>
</dict>
</plist>